<!-- new_clothing_form -->

<h1>Enter a new item of clothing to the database</h1>


<form action="http://localhost:3000/create_clothing">

<h3>Basic Item Attributes</h3>

<div>
    <label for="name">Item Name:</label>
    <input id="name" type="text" name="name">
  </div>

  <div>
    <label for="category">Category:</label>
    <input id="category" type="text" name="category">
  </div>

  <div>
    <label for="size">Size:</label>
    <input id="size" type="integer" name="size">
  </div>

<div>
    <label for="colour">Colour:</label>
    <input id="colour" type="text" name = "colour">
</div>

<div>
    <label for="brand">Brand:</label>
    <input id="brand" type="text" name="brand">
</div>

<div>
    <label for="price">Price:</label>
    <input id="price" type="integer" name="price">
</div>

<h3>Extra Item Attributes</h3>

<div>
    <label for="flattering_for">Flattering for:</label>
    <input id="flattering_for" type="text" name="flattering_for">
</div>

<div>
    <label for="extra_support">Extra Support?:</label>
    <input id="extra_support" type="text" name="extra_support">
</div>

<h3>Item Picture</h3>

<div>
    <label for="image_url">Image URL:</label>
    <input id="image_url" type="text" name="image">
</div>


  <div>
    <input type="submit" value="Create Item">
  </div>
</form>

